<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376281322937-sdn32trnpl7g57pfvjojbkoqnv2dk5lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376281322937-sdn32trnpl7g57pfvjojbkoqnv2dk5lv</string>
	<key>API_KEY</key>
	<string>AIzaSyB2d5GatUieMcRPMOL0NWxO2YHQXoz8PqA</string>
	<key>GCM_SENDER_ID</key>
	<string>376281322937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mavikdev.sastilaundry.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sastilaundry</string>
	<key>STORAGE_BUCKET</key>
	<string>sastilaundry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376281322937:ios:5289b51fa4a22430231268</string>
</dict>
</plist>